<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>メソッドは許可されていません。</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css}"
          href="../../static/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>Method Not Allowed</h3>
            <h4>メソッドは許可されていません。</h4>
        </div>
    </div>
</div>
</body>
</html>
